# Parameter Sweep File

# Parameters 
params.0.name = p1-single
params.0.sweep = single
params.0.type = int
params.0.value = 15

params.1.name = p2-list
params.1.sweep = list
params.1.type = int
params.1.value = 1,2,3,4,5,6,7,8,9,10

params.2.name = p3-sequence
params.2.sweep = sequence
params.2.type = double
params.2.value.from = 0.0
params.2.value.to = 10.0
params.2.value.step = 0.5